body {
    margin: 0 auto;
    font-size: 30px;
    font-family: 'Sacramento',cursive;
}

section {
    background-color: blue;
    border: none ;
    margin: none;
}

/* *****first part*********  */
.intros {
    background-color: white;
}

.intro {
    color: black;
    font-size: 30px;
    padding: 100px;
    position: relative;
}

.nav {
    background-color: rgb(39, 46, 26);
    color: white;
    font-size: 20%;
    justify-content: right;
    display: flex;
}


ul {
    display: flex;
    list-style-type: none;
    width: 500px;
    justify-content: space-around;
    font-size:30px;
}

li{
    /* width: 200px; */
    text-decoration: none;
}

.button {
    width: 200px;
    height: 60px;
    background-color: coral;
    border-radius: 30px;
    text-align: center;
    position: relative;
    font-size: bold;
}

h1 {
    font-size: 5.625rem;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento',cursive;
    color: black;
}

h2 {
    padding-left: 100px;
}

p{
    line-height: 2;
    font-family: 'Sacramento',cursive;
  }

/* ***** ABOUT Section****** */

.about-page {
    background-color: rgb(39, 46, 26);
    color: black;
    font-size: 30px;
    padding: 100px;
    position: relative;
}

.about {
    display: flexbox;
}

/* ********Skills row******** */
.skill-row{
    color: black;
    font-size: 30px;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
  }

  #wrapper {
      display: flex; 
  }

  .box {
      margin: 1rem;
  }

  /* ********contact me****** */
.contact-me {
    text-align: center;
    background-color:rgb(39 , 46, 26);
    text-align: left;
    padding: 100px;
}
.get {
    text-align: center;
}

.btn {
    background: coral;
    background-image: -webkit-linear-gradient(top, coral, rgb(161, 57, 18));
    background-image: -moz-linear-gradient(top, coral, rgb(161, 57, 18));
    background-image: -ms-linear-gradient(top, coral, rgb(161, 57, 18));
    background-image: -o-linear-gradient(top, coral, rgb(161, 57, 18));
    background-image: -webkit-gradient(to bottom, coral, rgb(161, 57, 18));
    font-family:'Montserrat', sans-serif;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #000000;
    font-size: 20px;
    font-weight: 100;
    padding: 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }

.bottom-container {
    text-align: center;
    background-color: rgb(29, 32, 22);
    color: white;
    font-size: 20px;
}